{
  "openapi": "3.1.0",
  "info": {
    "title": "anera markets api",
    "description": "API for accessing AneraLabs anera.markets data Unauthenticated guests are currently served within the published data windows, but any API key sent must be valid (401 otherwise).",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.anera.markets"
    }
  ],
  "paths": {
    "/api/v1/index-families": {
      "get": {
        "description": "Retrieve index families with family metadata, family tickers, and primary index details.\n\n    This endpoint returns:\n    - family_name and family_description from MongoDB index_groups\n    - family_tickers from visible indices that belong to each family\n    - primary_index details from index_groups.primary_index mapped to indices.id\n    - primary_index trend (up, down, or neutral) derived from the latest ticker window in ClickHouse",
        "operationId": "get_index_families_api_v1_index_families_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/IndexFamily"
                  },
                  "title": "Response Get Index Families Api V1 Index Families Get",
                  "type": "array"
                }
              }
            },
            "description": "Index families retrieved successfully"
          }
        },
        "summary": "Get Index Families",
        "tags": [
          "index-families"
        ]
      }
    },
    "/api/v1/indices": {
      "get": {
        "description": "Retrieve all available indices with their complete market data.\n    \n    This endpoint returns full index information including:\n    - All indices with current values and performance metrics (calculated from ClickHouse ticker data)\n    - No price history series in list responses (use chart or ticker endpoints for historical prices)\n    - Composition history is omitted on list responses; use GET /api/v1/indices/{index_id} for composition history\n    - Group/category information (from MongoDB)\n    - Featured articles and methodology links (from MongoDB)\n    \n    **Filtering:**\n    - Pass `?featured=true` to return only curated/featured indices (e.g. for homepage carousel)\n    - Pass `?featured=false` or omit the parameter to return all visible indices\n    - Passing any value other than `true` or `false` returns a `400` error\n    \n    **Data Sources:**\n    - **MongoDB**: Stores index metadata (name, description, group, featured articles, etc.)\n    - **ClickHouse**: Stores ticker price data used to calculate performance metrics\n    - **Trace Collection**: Stores historical composition data\n    \n    Use this endpoint when you need complete index data (e.g., for index exploration pages).\n    For simplified ticker data (e.g., carousel), use /api/v1/tickers/{symbol} instead.",
        "operationId": "get_all_indices_api_v1_indices_get",
        "parameters": [
          {
            "description": "Filter by featured status. Pass 'true' or 'false'.",
            "in": "query",
            "name": "featured",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by featured status. Pass 'true' or 'false'.",
              "title": "Featured"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDataResponse"
                }
              }
            },
            "description": "Indices retrieved successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "detail": "Invalid value for 'featured': 'banana'. Must be 'true' or 'false'."
                }
              }
            },
            "description": "Invalid value for 'featured' query parameter"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get All Indices (Full Data)",
        "tags": [
          "indices"
        ]
      }
    },
    "/api/v1/indices/summary": {
      "get": {
        "description": "Retrieve summary statistics for indices.\n\n    Returns high-level metrics including total model count and token spend.",
        "operationId": "get_indices_summary_api_v1_indices_summary_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "models_count": "121",
                  "token_spend": "180T"
                },
                "schema": {
                  "$ref": "#/components/schemas/IndicesSummaryResponse"
                }
              }
            },
            "description": "Indices summary retrieved successfully"
          }
        },
        "summary": "Get Indices Summary",
        "tags": [
          "indices"
        ]
      }
    },
    "/api/v1/indices/{index_id}": {
      "get": {
        "description": "Retrieve detailed information about a specific index by its ID.\n    \n    Returns complete index information including:\n    - Current value and all performance metrics (calculated from ClickHouse ticker data)\n    - Full composition history from start date (from trace collection)\n    - No price history series (use chart or ticker endpoints for historical prices)\n    - Group information (from MongoDB)\n    - Featured articles and methodology documentation (from MongoDB)\n    \n    **Data Sources:**\n    - **MongoDB**: Stores index metadata (name, description, group, featured articles, etc.)\n    - **ClickHouse**: Stores ticker price data used to calculate performance metrics\n    - **Trace Collection**: Stores historical composition data\n    \n    **Example IDs:**\n    - `china-model-performance` - China TDI\n    - `us-model-performance` - US TDI\n    - `europe-model-performance` - Europe TDI\n    - `oss-tdi` - OSS index\n    - `openai-tdi` - OpenAI TDI\n    - `anthropic-tdi` - Anthropic TDI",
        "operationId": "get_index_by_id_api_v1_indices__index_id__get",
        "parameters": [
          {
            "description": "Unique identifier of the index",
            "example": "china-model-performance",
            "in": "path",
            "name": "index_id",
            "required": true,
            "schema": {
              "description": "Unique identifier of the index",
              "title": "Index Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "change": 0.12,
                  "change3Month": 8.23,
                  "changeAbsolute": 3.42,
                  "changeDay": 0.12,
                  "changeMonth": 2.45,
                  "changeWeek": 0.85,
                  "currency": "CNY",
                  "description": "The China TDI tracks the utilization and performance of AI models developed and deployed in China.",
                  "featured": false,
                  "group": {
                    "description": "Benchmarks built primarily on model token consumption and utilization signals.",
                    "id": "token-utilisation",
                    "name": "Token Utilisation Based Indexes"
                  },
                  "id": "china-model-performance",
                  "name": "China TDI",
                  "startDate": "2023-01-15",
                  "symbol": "CNTDI",
                  "timestamp": "2024-01-15T12:00:00",
                  "value": 2847.32
                },
                "schema": {
                  "$ref": "#/components/schemas/MarketIndex"
                }
              }
            },
            "description": "Index found and returned successfully"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "detail": "Index with id 'invalid-id' not found"
                }
              }
            },
            "description": "Index not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Index by ID",
        "tags": [
          "indices"
        ]
      }
    },
    "/api/v1/models": {
      "get": {
        "operationId": "get_all_models_api_v1_models_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "summary": "Get All Model IDs",
        "tags": [
          "models"
        ]
      }
    },
    "/api/v1/providers": {
      "get": {
        "operationId": "get_all_providers_api_v1_providers_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersResponse"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "summary": "Get All Providers",
        "tags": [
          "models"
        ]
      }
    },
    "/api/v1/models/token-utilisation": {
      "get": {
        "operationId": "get_token_utilisation_api_v1_models_token_utilisation_get",
        "parameters": [
          {
            "description": "Time period",
            "example": "1M",
            "in": "query",
            "name": "time-period",
            "required": true,
            "schema": {
              "description": "Time period",
              "title": "Time-Period",
              "type": "string"
            }
          },
          {
            "description": "Comma-separated model slugs",
            "example": "gpt-4o,claude-3.5-sonnet",
            "in": "query",
            "name": "models",
            "required": true,
            "schema": {
              "description": "Comma-separated model slugs",
              "title": "Models",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__models__schema__TokenUtilisationResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Token Utilisation Metrics",
        "tags": [
          "models"
        ]
      }
    },
    "/api/v1/models/revenue": {
      "get": {
        "operationId": "get_revenue_api_v1_models_revenue_get",
        "parameters": [
          {
            "description": "Time period",
            "example": "1M",
            "in": "query",
            "name": "time-period",
            "required": true,
            "schema": {
              "description": "Time period",
              "title": "Time-Period",
              "type": "string"
            }
          },
          {
            "description": "Comma-separated model slugs",
            "example": "gpt-4o,claude-3.5-sonnet",
            "in": "query",
            "name": "models",
            "required": true,
            "schema": {
              "description": "Comma-separated model slugs",
              "title": "Models",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__models__schema__RevenueResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Revenue Metrics",
        "tags": [
          "models"
        ]
      }
    },
    "/api/v1/tokens/daily": {
      "get": {
        "description": "Retrieve token ingestion counters used by the frontend's live counter.\n\n    Response includes:\n    - totalCount: cumulative tokens ingested till date\n    - delta: previous completed UTC day's ingested tokens\n    - lastUpdated: ISO 8601 UTC timestamp of computation",
        "operationId": "get_daily_tokens_api_v1_tokens_daily_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "delta": "100000000",
                  "lastUpdated": "2026-03-27T00:14:00.000Z",
                  "totalCount": "60004601111"
                },
                "schema": {
                  "$ref": "#/components/schemas/DailyTokensResponse"
                }
              }
            },
            "description": "Daily token counters retrieved successfully"
          },
          "503": {
            "content": {
              "application/json": {
                "example": {
                  "detail": "Token data store unavailable"
                }
              }
            },
            "description": "Underlying data store unavailable"
          }
        },
        "summary": "Get Daily Token Counters",
        "tags": [
          "tokens"
        ]
      }
    },
    "/api/v1/trace/{index_id}/composition": {
      "get": {
        "operationId": "get_index_composition_api_v1_trace__index_id__composition_get",
        "parameters": [
          {
            "description": "Unique identifier of the index",
            "example": "china-model-performance",
            "in": "path",
            "name": "index_id",
            "required": true,
            "schema": {
              "description": "Unique identifier of the index",
              "title": "Index Id",
              "type": "string"
            }
          },
          {
            "description": "Time period for filtering composition data",
            "example": "1M",
            "in": "query",
            "name": "period",
            "required": false,
            "schema": {
              "default": "ALL",
              "description": "Time period for filtering composition data",
              "pattern": "^(1W|1M|3M|6M|1Y|3Y|5Y|10Y|ALL)$",
              "title": "Period",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompositionResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "400": {
            "description": "Invalid period parameter"
          },
          "404": {
            "description": "Index not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Index Composition by Period",
        "tags": [
          "trace"
        ]
      }
    },
    "/api/v1/trace/{index_id}/by-date": {
      "get": {
        "operationId": "get_trace_by_date_api_v1_trace__index_id__by_date_get",
        "parameters": [
          {
            "description": "Index ID",
            "in": "path",
            "name": "index_id",
            "required": true,
            "schema": {
              "description": "Index ID",
              "title": "Index Id",
              "type": "string"
            }
          },
          {
            "description": "Date in YYYY-MM-DD format",
            "in": "query",
            "name": "date",
            "required": true,
            "schema": {
              "description": "Date in YYYY-MM-DD format",
              "title": "Date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraceByDateResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "400": {
            "description": "Invalid date parameter"
          },
          "404": {
            "description": "Index or trace for date not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Trace by Date",
        "tags": [
          "trace"
        ]
      }
    },
    "/api/v1/distinct-models": {
      "get": {
        "operationId": "get_models_api_v1_distinct_models_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ModelItem"
                  },
                  "title": "Response Get Models Api V1 Distinct Models Get",
                  "type": "array"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "summary": "Get all distinct models",
        "tags": [
          "distinct-models"
        ]
      }
    },
    "/api/v1/token-factories": {
      "get": {
        "operationId": "get_token_factories_api_v1_token_factories_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TokenFactoryItem"
                  },
                  "title": "Response Get Token Factories Api V1 Token Factories Get",
                  "type": "array"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "summary": "Get all distinct token factories",
        "tags": [
          "token-factories"
        ]
      }
    },
    "/api/v1/companies": {
      "get": {
        "operationId": "get_companies_api_v1_companies_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CompanyItem"
                  },
                  "title": "Response Get Companies Api V1 Companies Get",
                  "type": "array"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "summary": "Get all distinct companies",
        "tags": [
          "companies"
        ]
      }
    },
    "/api/v1/tickers/{index_id}": {
      "get": {
        "operationId": "get_public_ticker_history_api_v1_tickers__index_id__get",
        "parameters": [
          {
            "description": "Mongo index id",
            "example": "ai-tdi",
            "in": "path",
            "name": "index_id",
            "required": true,
            "schema": {
              "description": "Mongo index id",
              "title": "Index Id",
              "type": "string"
            }
          },
          {
            "description": "Start date in YYYY-MM-DD format (requires endDate)",
            "in": "query",
            "name": "startDate",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date in YYYY-MM-DD format (requires endDate)",
              "title": "Startdate"
            }
          },
          {
            "description": "End date in YYYY-MM-DD format (requires startDate)",
            "in": "query",
            "name": "endDate",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date in YYYY-MM-DD format (requires startDate)",
              "title": "Enddate"
            }
          },
          {
            "description": "Number of days to include when startDate/endDate are not provided. Defaults to 7 days. Maximum is 365 days. Guests are limited to the shared guest lookback window.",
            "in": "query",
            "name": "time_period",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Number of days to include when startDate/endDate are not provided. Defaults to 7 days. Maximum is 365 days. Guests are limited to the shared guest lookback window.",
              "title": "Time Period"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicTickerResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "400": {
            "description": "Invalid date parameters"
          },
          "401": {
            "description": "Auth required for history beyond the guest window"
          },
          "404": {
            "description": "Unknown or hidden index id"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get public ticker values for an index id",
        "tags": [
          "tickers"
        ]
      }
    },
    "/api/v1/revenue/{resource_type}": {
      "get": {
        "operationId": "get_revenue_by_resource_api_v1_revenue__resource_type__get",
        "parameters": [
          {
            "in": "path",
            "name": "resource_type",
            "required": true,
            "schema": {
              "enum": [
                "token-factory",
                "model",
                "company"
              ],
              "title": "Resource Type",
              "type": "string"
            }
          },
          {
            "description": "Date filter (YYYY-MM-DD or ISO-8601). Defaults to latest available day.",
            "in": "query",
            "name": "timestamp",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Date filter (YYYY-MM-DD or ISO-8601). Defaults to latest available day.",
              "title": "Timestamp"
            }
          },
          {
            "description": "Optional resource id filter. Returns all resources when omitted.",
            "in": "query",
            "name": "resource_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional resource id filter. Returns all resources when omitted.",
              "title": "Resource Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__public__schema__RevenueResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get ranked revenue by resource type for a day",
        "tags": [
          "revenue"
        ]
      }
    },
    "/api/v1/token-utilisation/{resource_type}": {
      "get": {
        "operationId": "get_token_utilisation_by_resource_api_v1_token_utilisation__resource_type__get",
        "parameters": [
          {
            "in": "path",
            "name": "resource_type",
            "required": true,
            "schema": {
              "enum": [
                "token-factory",
                "model",
                "company"
              ],
              "title": "Resource Type",
              "type": "string"
            }
          },
          {
            "description": "Date filter (YYYY-MM-DD or ISO-8601). Defaults to latest available day.",
            "in": "query",
            "name": "timestamp",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Date filter (YYYY-MM-DD or ISO-8601). Defaults to latest available day.",
              "title": "Timestamp"
            }
          },
          {
            "description": "Optional resource id filter. Returns all resources when omitted.",
            "in": "query",
            "name": "resource_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional resource id filter. Returns all resources when omitted.",
              "title": "Resource Id"
            }
          },
          {
            "description": "Token type selector. Applies to model/company resources.",
            "in": "query",
            "name": "token_type",
            "required": false,
            "schema": {
              "default": "total",
              "description": "Token type selector. Applies to model/company resources.",
              "enum": [
                "total",
                "prompt",
                "completion",
                "reasoning"
              ],
              "title": "Token Type",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__public__schema__TokenUtilisationResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get ranked token utilisation by resource type for a day",
        "tags": [
          "token-utilisation"
        ]
      }
    },
    "/api/v1/attestations/{event_id}": {
      "get": {
        "description": "Retrieve the canonical outcome for a prediction market event.\n\n    This endpoint returns the current resolution status of an event:\n\n    - **Unresolved events**: Return `finalised_time = null` and `outcome = null`\n    - **Resolved events**: Return non-null `finalised_time` and non-null `outcome`\n    - **Unknown events**: Return 404 Not Found\n\n    **Response Fields:**\n    - `event_id`: Unique identifier for the event\n    - `start_time`: When the event period begins (RFC3339 timestamp)\n    - `end_time`: When the event period ends (RFC3339 timestamp)\n    - `finalised_time`: When the event was finalised (RFC3339 timestamp or null)\n    - `outcome`: Final JSON payload with the result (JSON object or null)",
        "operationId": "get_attestation_api_v1_attestations__event_id__get",
        "parameters": [
          {
            "description": "Unique identifier for the event",
            "example": "evt_123456789",
            "in": "path",
            "name": "event_id",
            "required": true,
            "schema": {
              "description": "Unique identifier for the event",
              "title": "Event Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttestationResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "detail": "Attestation with event_id 'evt_unknown' not found"
                }
              }
            },
            "description": "Event not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get Attestation by Event ID",
        "tags": [
          "attestations"
        ]
      }
    },
    "/api/v1/chart-data/{chart_id}": {
      "get": {
        "operationId": "get_chart_data_api_v1_chart_data__chart_id__get",
        "parameters": [
          {
            "description": "Chart id",
            "in": "path",
            "name": "chart_id",
            "required": true,
            "schema": {
              "description": "Chart id",
              "title": "Chart Id",
              "type": "string"
            }
          },
          {
            "description": "Ticker symbol",
            "in": "query",
            "name": "symbol",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Ticker symbol",
              "title": "Symbol"
            }
          },
          {
            "in": "query",
            "name": "model_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Model Id"
            }
          },
          {
            "in": "query",
            "name": "factory_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Factory Id"
            }
          },
          {
            "in": "query",
            "name": "family_id",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Family Id"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Startdate"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Enddate"
            }
          },
          {
            "description": "Number of days to include when startDate/endDate are not provided",
            "in": "query",
            "name": "time_period",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Number of days to include when startDate/endDate are not provided",
              "title": "Time Period"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Get Chart Data Api V1 Chart Data  Chart Id  Get"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get chart data by chart id",
        "tags": [
          "chart-data"
        ]
      }
    },
    "/api/v1/intelligence/token-factory/daily-revenue": {
      "get": {
        "operationId": "get_token_factory_daily_revenue_api_v1_intelligence_token_factory_daily_revenue_get",
        "parameters": [
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 30,
              "description": "Trailing days",
              "maximum": 365,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__intelligence__token_factory__schema__DailyRevenueResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get daily revenue per token factory",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/token-factory/rankings": {
      "get": {
        "operationId": "get_token_factory_rankings_api_v1_intelligence_token_factory_rankings_get",
        "parameters": [
          {
            "in": "query",
            "name": "metric",
            "required": false,
            "schema": {
              "default": "revenue",
              "enum": [
                "revenue",
                "utilisation"
              ],
              "title": "Metric",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 500,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 30,
              "description": "Trailing days",
              "maximum": 365,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenFactoryRankingResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get token factory rankings",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/token-factory/factory/{factory_id}": {
      "get": {
        "operationId": "get_token_factory_overview_api_v1_intelligence_token_factory_factory__factory_id__get",
        "parameters": [
          {
            "description": "ID of the token factory",
            "in": "path",
            "name": "factory_id",
            "required": true,
            "schema": {
              "description": "ID of the token factory",
              "title": "Factory Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenFactoryOverview"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get overview for a specific token factory",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/token-factory/factory/{factory_id}/summary": {
      "get": {
        "operationId": "get_token_factory_summary_api_v1_intelligence_token_factory_factory__factory_id__summary_get",
        "parameters": [
          {
            "description": "ID of the token factory",
            "in": "path",
            "name": "factory_id",
            "required": true,
            "schema": {
              "description": "ID of the token factory",
              "title": "Factory Id",
              "type": "string"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenFactorySummaryResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get summary for a token factory",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/token-factory/factory/{factory_id}/breakdown/daily-revenue-per-model": {
      "get": {
        "operationId": "get_token_factory_daily_revenue_per_model_api_v1_intelligence_token_factory_factory__factory_id__breakdown_daily_revenue_per_model_get",
        "parameters": [
          {
            "description": "ID of the token factory",
            "in": "path",
            "name": "factory_id",
            "required": true,
            "schema": {
              "description": "ID of the token factory",
              "title": "Factory Id",
              "type": "string"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__intelligence__token_factory__schema__DailyRevenuePerModelResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get daily revenue per model for a token factory",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/token-factory/factory/{factory_id}/breakdown/model-rankings": {
      "get": {
        "operationId": "get_token_factory_model_rankings_api_v1_intelligence_token_factory_factory__factory_id__breakdown_model_rankings_get",
        "parameters": [
          {
            "description": "ID of the token factory",
            "in": "path",
            "name": "factory_id",
            "required": true,
            "schema": {
              "description": "ID of the token factory",
              "title": "Factory Id",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "metric",
            "required": false,
            "schema": {
              "default": "revenue",
              "enum": [
                "revenue",
                "tokens"
              ],
              "title": "Metric",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 500,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__intelligence__token_factory__schema__ModelRankingResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get model rankings within a token factory",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/model-family/family/{family_id}": {
      "get": {
        "operationId": "get_model_family_overview_api_v1_intelligence_model_family_family__family_id__get",
        "parameters": [
          {
            "description": "ID of the model family (provider)",
            "in": "path",
            "name": "family_id",
            "required": true,
            "schema": {
              "description": "ID of the model family (provider)",
              "title": "Family Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelFamilyOverview"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get model family overview",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/model-family/family/{family_id}/summary": {
      "get": {
        "operationId": "get_model_family_summary_api_v1_intelligence_model_family_family__family_id__summary_get",
        "parameters": [
          {
            "description": "ID of the model family (provider)",
            "in": "path",
            "name": "family_id",
            "required": true,
            "schema": {
              "description": "ID of the model family (provider)",
              "title": "Family Id",
              "type": "string"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelFamilySummaryResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get model family summary",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/model-family/family/{family_id}/breakdown/daily-revenue-per-model": {
      "get": {
        "operationId": "get_model_family_daily_revenue_per_model_api_v1_intelligence_model_family_family__family_id__breakdown_daily_revenue_per_model_get",
        "parameters": [
          {
            "description": "ID of the model family (provider)",
            "in": "path",
            "name": "family_id",
            "required": true,
            "schema": {
              "description": "ID of the model family (provider)",
              "title": "Family Id",
              "type": "string"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__intelligence__model_family__schema__DailyRevenuePerModelResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get daily revenue per model for a model family",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/model-family/family/{family_id}/breakdown/model-rankings": {
      "get": {
        "operationId": "get_model_family_model_rankings_api_v1_intelligence_model_family_family__family_id__breakdown_model_rankings_get",
        "parameters": [
          {
            "description": "ID of the model family (provider)",
            "in": "path",
            "name": "family_id",
            "required": true,
            "schema": {
              "description": "ID of the model family (provider)",
              "title": "Family Id",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "metric",
            "required": false,
            "schema": {
              "default": "revenue",
              "enum": [
                "revenue",
                "tokens"
              ],
              "title": "Metric",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 500,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__intelligence__model_family__schema__ModelRankingResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get model rankings within a model family",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/model-family/daily-revenue": {
      "get": {
        "operationId": "get_model_family_daily_revenue_api_v1_intelligence_model_family_daily_revenue_get",
        "parameters": [
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 30,
              "description": "Trailing days",
              "maximum": 365,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__intelligence__model_family__schema__DailyRevenueResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get daily revenue by model family",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/model-family/rankings": {
      "get": {
        "operationId": "get_model_family_rankings_api_v1_intelligence_model_family_rankings_get",
        "parameters": [
          {
            "in": "query",
            "name": "metric",
            "required": false,
            "schema": {
              "default": "revenue",
              "enum": [
                "revenue",
                "tokens"
              ],
              "title": "Metric",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 500,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 30,
              "description": "Trailing days",
              "maximum": 365,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelFamilyRankingResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get model family rankings",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/models/model/{model_id}/summary": {
      "get": {
        "operationId": "get_model_summary_api_v1_intelligence_models_model__model_id__summary_get",
        "parameters": [
          {
            "description": "Model ID (model_slug)",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "description": "Model ID (model_slug)",
              "title": "Model Id",
              "type": "string"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelSummaryResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get model summary",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/models/model/{model_id}/breakdown/daily-revenue-by-token-factory": {
      "get": {
        "operationId": "get_model_daily_revenue_by_token_factory_api_v1_intelligence_models_model__model_id__breakdown_daily_revenue_by_token_factory_get",
        "parameters": [
          {
            "description": "Model ID (model_slug)",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "description": "Model ID (model_slug)",
              "title": "Model Id",
              "type": "string"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyRevenueByFactoryResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get daily revenue by token factory for a model",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/models/model/{model_id}/breakdown/daily-token-ratio": {
      "get": {
        "operationId": "get_model_daily_token_ratio_api_v1_intelligence_models_model__model_id__breakdown_daily_token_ratio_get",
        "parameters": [
          {
            "description": "Model ID (model_slug)",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "description": "Model ID (model_slug)",
              "title": "Model Id",
              "type": "string"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyTokenRatioResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get daily input/output/reasoning token ratios for a model",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/models/model/{model_id}": {
      "get": {
        "operationId": "get_model_overview_api_v1_intelligence_models_model__model_id__get",
        "parameters": [
          {
            "description": "Model ID (model_slug)",
            "in": "path",
            "name": "model_id",
            "required": true,
            "schema": {
              "description": "Model ID (model_slug)",
              "title": "Model Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelOverview"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get model overview",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/models/daily-revenue-per-model": {
      "get": {
        "operationId": "get_models_daily_revenue_per_model_api_v1_intelligence_models_daily_revenue_per_model_get",
        "parameters": [
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__intelligence__models__schema__DailyRevenuePerModelResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get daily revenue per model",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/intelligence/models/rankings": {
      "get": {
        "operationId": "get_models_rankings_api_v1_intelligence_models_rankings_get",
        "parameters": [
          {
            "in": "query",
            "name": "metric",
            "required": false,
            "schema": {
              "default": "revenue",
              "enum": [
                "revenue",
                "tokens"
              ],
              "title": "Metric",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 500,
              "minimum": 1,
              "title": "Limit",
              "type": "integer"
            }
          },
          {
            "description": "Trailing days",
            "in": "query",
            "name": "days",
            "required": false,
            "schema": {
              "default": 7,
              "description": "Trailing days",
              "maximum": 90,
              "minimum": 1,
              "title": "Days",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/app__api__routes__intelligence__models__schema__ModelRankingResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get model rankings",
        "tags": [
          "intelligence"
        ]
      }
    },
    "/api/v1/user/access-keys": {
      "get": {
        "operationId": "get_access_keys_api_v1_user_access_keys_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AccessKeyItem"
                  },
                  "title": "Response Get Access Keys Api V1 User Access Keys Get",
                  "type": "array"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "summary": "List active access keys",
        "tags": [
          "user"
        ]
      },
      "post": {
        "operationId": "create_access_key_api_v1_user_access_keys_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccessKeyResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Create a new access key",
        "tags": [
          "user"
        ]
      }
    },
    "/api/v1/user/access-keys/{id}": {
      "delete": {
        "operationId": "revoke_access_key_api_v1_user_access_keys__id__delete",
        "parameters": [
          {
            "description": "Access key id to revoke",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "Access key id to revoke",
              "title": "Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeAccessKeyResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Revoke an access key",
        "tags": [
          "user"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessKeyItem": {
        "properties": {
          "created_at": {
            "format": "date-time",
            "title": "Created At",
            "type": "string"
          },
          "id": {
            "title": "Id",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          },
          "prefix": {
            "title": "Prefix",
            "type": "string"
          }
        },
        "required": [
          "id",
          "label",
          "prefix",
          "created_at"
        ],
        "title": "AccessKeyItem",
        "type": "object"
      },
      "AttestationResponse": {
        "example": {
          "end_time": "2024-02-15T23:59:59Z",
          "event_id": "evt_123456789",
          "finalised_time": "2024-02-16T12:00:00Z",
          "outcome": {
            "score": "3-1",
            "winner": "team_a"
          },
          "start_time": "2024-01-15T00:00:00Z"
        },
        "properties": {
          "end_time": {
            "description": "ISO 8601 RFC3339 timestamp for event end",
            "example": "2024-02-15T23:59:59Z",
            "title": "End Time",
            "type": "string"
          },
          "event_id": {
            "description": "Unique identifier for the event",
            "example": "evt_123456789",
            "title": "Event Id",
            "type": "string"
          },
          "finalised_time": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ISO 8601 RFC3339 timestamp when event was finalised. Null if not yet finalised.",
            "example": "2024-02-16T12:00:00Z",
            "title": "Finalised Time"
          },
          "outcome": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Final JSON payload containing the outcome. Null if not yet finalised.",
            "example": {
              "score": "3-1",
              "winner": "team_a"
            },
            "title": "Outcome"
          },
          "start_time": {
            "description": "ISO 8601 RFC3339 timestamp for event start",
            "example": "2024-01-15T00:00:00Z",
            "title": "Start Time",
            "type": "string"
          }
        },
        "required": [
          "event_id",
          "start_time",
          "end_time"
        ],
        "title": "AttestationResponse",
        "type": "object"
      },
      "CompanyItem": {
        "properties": {
          "provider": {
            "description": "Company/provider identifier",
            "title": "Provider",
            "type": "string"
          }
        },
        "required": [
          "provider"
        ],
        "title": "CompanyItem",
        "type": "object"
      },
      "CompositionData": {
        "additionalProperties": true,
        "example": {
          "Deepseek Image Token Utilisation": 30.0,
          "Deepseek R1 Token Utilisation": 28.0,
          "Deepseek Vision Token Utilisation": 10.0,
          "NVDA token utilisation": 12.0,
          "date": "2024-01-15T00:00:00"
        },
        "properties": {
          "date": {
            "description": "ISO date string for the composition data",
            "example": "2024-01-15T00:00:00",
            "title": "Date",
            "type": "string"
          }
        },
        "required": [
          "date"
        ],
        "title": "CompositionData",
        "type": "object"
      },
      "CompositionResponse": {
        "example": {
          "composition": [
            {
              "Deepseek R1 Token Utilisation": 28.0,
              "NVDA token utilisation": 12.0,
              "date": "2024-01-15T00:00:00"
            }
          ],
          "indexId": "china-model-performance",
          "period": "1M"
        },
        "properties": {
          "composition": {
            "description": "Composition data filtered by period",
            "items": {
              "$ref": "#/components/schemas/CompositionData"
            },
            "title": "Composition",
            "type": "array"
          },
          "indexId": {
            "description": "The index ID",
            "example": "china-model-performance",
            "title": "Indexid",
            "type": "string"
          },
          "period": {
            "description": "The time period requested",
            "example": "1M",
            "title": "Period",
            "type": "string"
          }
        },
        "required": [
          "indexId",
          "period",
          "composition"
        ],
        "title": "CompositionResponse",
        "type": "object"
      },
      "CreateAccessKeyRequest": {
        "properties": {
          "label": {
            "maxLength": 128,
            "minLength": 1,
            "title": "Label",
            "type": "string"
          }
        },
        "required": [
          "label"
        ],
        "title": "CreateAccessKeyRequest",
        "type": "object"
      },
      "CreateAccessKeyResponse": {
        "description": "Response includes the plaintext key exactly once at creation time.",
        "properties": {
          "id": {
            "title": "Id",
            "type": "string"
          },
          "key": {
            "title": "Key",
            "type": "string"
          },
          "label": {
            "title": "Label",
            "type": "string"
          }
        },
        "required": [
          "id",
          "label",
          "key"
        ],
        "title": "CreateAccessKeyResponse",
        "type": "object"
      },
      "DailyRevenueByFactoryEntry": {
        "properties": {
          "date": {
            "title": "Date",
            "type": "string"
          },
          "factories": {
            "items": {
              "$ref": "#/components/schemas/FactoryDailyRevenuePoint"
            },
            "title": "Factories",
            "type": "array"
          }
        },
        "required": [
          "date"
        ],
        "title": "DailyRevenueByFactoryEntry",
        "type": "object"
      },
      "DailyRevenueByFactoryResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/DailyRevenueByFactoryEntry"
            },
            "title": "Data",
            "type": "array"
          },
          "from_date": {
            "title": "From Date",
            "type": "string"
          },
          "model_id": {
            "title": "Model Id",
            "type": "string"
          },
          "model_name": {
            "title": "Model Name",
            "type": "string"
          },
          "to_date": {
            "title": "To Date",
            "type": "string"
          }
        },
        "required": [
          "model_id",
          "model_name",
          "from_date",
          "to_date"
        ],
        "title": "DailyRevenueByFactoryResponse",
        "type": "object"
      },
      "DailyRevenuePerModelEntry": {
        "properties": {
          "date": {
            "description": "YYYY-MM-DD date for the bucket",
            "title": "Date",
            "type": "string"
          },
          "models": {
            "items": {
              "$ref": "#/components/schemas/ModelDailyRevenuePoint"
            },
            "title": "Models",
            "type": "array"
          }
        },
        "required": [
          "date"
        ],
        "title": "DailyRevenuePerModelEntry",
        "type": "object"
      },
      "DailyTokenRatioPoint": {
        "properties": {
          "completion_tokens": {
            "title": "Completion Tokens",
            "type": "integer"
          },
          "date": {
            "title": "Date",
            "type": "string"
          },
          "input_output_ratio": {
            "title": "Input Output Ratio",
            "type": "number"
          },
          "prompt_tokens": {
            "title": "Prompt Tokens",
            "type": "integer"
          },
          "reasoning_share": {
            "description": "reasoning / (prompt+completion+reasoning)",
            "title": "Reasoning Share",
            "type": "number"
          },
          "reasoning_tokens": {
            "title": "Reasoning Tokens",
            "type": "integer"
          }
        },
        "required": [
          "date",
          "prompt_tokens",
          "completion_tokens",
          "reasoning_tokens",
          "input_output_ratio",
          "reasoning_share"
        ],
        "title": "DailyTokenRatioPoint",
        "type": "object"
      },
      "DailyTokenRatioResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/DailyTokenRatioPoint"
            },
            "title": "Data",
            "type": "array"
          },
          "from_date": {
            "title": "From Date",
            "type": "string"
          },
          "model_id": {
            "title": "Model Id",
            "type": "string"
          },
          "model_name": {
            "title": "Model Name",
            "type": "string"
          },
          "to_date": {
            "title": "To Date",
            "type": "string"
          }
        },
        "required": [
          "model_id",
          "model_name",
          "from_date",
          "to_date"
        ],
        "title": "DailyTokenRatioResponse",
        "type": "object"
      },
      "DailyTokensResponse": {
        "description": "Current total token ingestion and previous-day delta.",
        "properties": {
          "delta": {
            "description": "Total tokens ingested on the previous completed UTC day. Used by frontend for per-second tick rate.",
            "example": "100000000",
            "title": "Delta",
            "type": "string"
          },
          "lastUpdated": {
            "description": "ISO 8601 UTC timestamp for when the count was computed",
            "example": "2026-03-27T00:14:00.000Z",
            "title": "Lastupdated",
            "type": "string"
          },
          "totalCount": {
            "description": "Total tokens ingested till date",
            "example": "60004601111",
            "title": "Totalcount",
            "type": "string"
          }
        },
        "required": [
          "totalCount",
          "delta",
          "lastUpdated"
        ],
        "title": "DailyTokensResponse",
        "type": "object"
      },
      "FactoryDailyRevenuePoint": {
        "properties": {
          "factory_id": {
            "title": "Factory Id",
            "type": "string"
          },
          "factory_name": {
            "title": "Factory Name",
            "type": "string"
          },
          "revenue_usd": {
            "title": "Revenue Usd",
            "type": "number"
          },
          "token_count": {
            "title": "Token Count",
            "type": "integer"
          }
        },
        "required": [
          "factory_id",
          "factory_name",
          "revenue_usd",
          "token_count"
        ],
        "title": "FactoryDailyRevenuePoint",
        "type": "object"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "title": "Detail",
            "type": "array"
          }
        },
        "title": "HTTPValidationError",
        "type": "object"
      },
      "IndexFamily": {
        "description": "Index family payload.",
        "properties": {
          "family_description": {
            "description": "Description of the index family",
            "title": "Family Description",
            "type": "string"
          },
          "family_id": {
            "description": "ID of the index family",
            "title": "Family Id",
            "type": "string"
          },
          "family_name": {
            "description": "Display name for the index family",
            "title": "Family Name",
            "type": "string"
          },
          "family_tickers": {
            "description": "Ticker symbols for all visible indices in this family",
            "items": {
              "type": "string"
            },
            "title": "Family Tickers",
            "type": "array"
          },
          "primary_index": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PrimaryIndex"
              },
              {
                "type": "null"
              }
            ],
            "description": "Primary index details for this family"
          }
        },
        "required": [
          "family_id",
          "family_name",
          "family_description"
        ],
        "title": "IndexFamily",
        "type": "object"
      },
      "IndexGroup": {
        "description": "Index group/category information.",
        "properties": {
          "description": {
            "description": "Description of what this group represents",
            "example": "Benchmarks built primarily on model token consumption and utilization signals.",
            "title": "Description",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for the group",
            "example": "token-utilisation",
            "title": "Id",
            "type": "string"
          },
          "methodology_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL for the index family methodology or documentation",
            "example": "https://indices.ai/methodology/token-demand-family",
            "title": "Methodology Url"
          },
          "name": {
            "description": "Display name of the group",
            "example": "Token Utilisation Based Indexes",
            "title": "Name",
            "type": "string"
          },
          "primary_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "ID of the primary index in this group (maps to indices.id)",
            "example": "actdi-core-index",
            "title": "Primary Index"
          },
          "what_it_does_markdown": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Markdown content describing what this index family does, why it is important, and for whom. Rendered on the index group page.",
            "example": "## What this family measures\n\nThese indices track institutional-scale AI token demand across major providers, making it possible to benchmark exposure to model revenue and usage.",
            "title": "What It Does Markdown"
          }
        },
        "required": [
          "id",
          "name",
          "description"
        ],
        "title": "IndexGroup",
        "type": "object"
      },
      "IndicesSummaryResponse": {
        "description": "Summary metrics for indices.",
        "properties": {
          "models_count": {
            "description": "Total number of models",
            "example": 121,
            "title": "Models Count",
            "type": "integer"
          },
          "token_spend": {
            "description": "Total token spend",
            "example": 180000000,
            "title": "Token Spend",
            "type": "number"
          }
        },
        "required": [
          "models_count",
          "token_spend"
        ],
        "title": "IndicesSummaryResponse",
        "type": "object"
      },
      "MarketDataResponse": {
        "description": "Response containing all market indices and last update time.",
        "example": {
          "indices": [
            {
              "change": 0.12,
              "change3Month": 8.23,
              "changeAbsolute": 3.42,
              "changeDay": 0.12,
              "changeMonth": 2.45,
              "changeWeek": 0.85,
              "currency": "CNY",
              "featured": false,
              "group": {
                "description": "Benchmarks built primarily on model token consumption and utilization signals.",
                "id": "token-utilisation",
                "name": "Token Utilisation Based Indexes"
              },
              "id": "china-model-performance",
              "name": "China TDI",
              "symbol": "CNTDI",
              "timestamp": "2024-01-15T12:00:00",
              "value": 2847.32,
              "version": 1
            }
          ],
          "lastUpdated": "02:30 PM"
        },
        "properties": {
          "indices": {
            "description": "List of all available indices",
            "items": {
              "$ref": "#/components/schemas/MarketIndex"
            },
            "title": "Indices",
            "type": "array"
          },
          "lastUpdated": {
            "description": "Time when data was last updated",
            "example": "02:30 PM",
            "title": "Lastupdated",
            "type": "string"
          }
        },
        "required": [
          "indices",
          "lastUpdated"
        ],
        "title": "MarketDataResponse",
        "type": "object"
      },
      "MarketIndex": {
        "description": "Complete market index information with performance metrics and history.\n\nNote: Performance metrics (value, change, changeDay, changeWeek, changeMonth, change3Month, etc.) are\ncalculated dynamically from ticker data stored in ClickHouse, not from the MongoDB index collection.\nThe MongoDB collection only stores metadata (name, description, group, etc.).",
        "properties": {
          "change": {
            "description": "Daily percentage change (calculated from ticker data)",
            "example": 0.12,
            "title": "Change",
            "type": "number"
          },
          "change3Month": {
            "description": "Percentage change for last 3 months (calculated from ticker data)",
            "example": 8.23,
            "title": "Change3Month",
            "type": "number"
          },
          "changeAbsolute": {
            "description": "Daily absolute change value (calculated from ticker data)",
            "example": 3.42,
            "title": "Changeabsolute",
            "type": "number"
          },
          "changeDay": {
            "description": "Percentage change for last day (calculated from ticker data)",
            "example": 0.12,
            "title": "Changeday",
            "type": "number"
          },
          "changeMonth": {
            "description": "Percentage change for last month (calculated from ticker data)",
            "example": 2.45,
            "title": "Changemonth",
            "type": "number"
          },
          "changeWeek": {
            "description": "Percentage change for last week (calculated from ticker data)",
            "example": 0.85,
            "title": "Changeweek",
            "type": "number"
          },
          "compositionHistory": {
            "description": "Historical composition data (from trace collection)",
            "items": {
              "$ref": "#/components/schemas/CompositionData"
            },
            "title": "Compositionhistory",
            "type": "array"
          },
          "currency": {
            "description": "Currency code",
            "example": "CNY",
            "title": "Currency",
            "type": "string"
          },
          "description": {
            "description": "Detailed description of the index (from MongoDB)",
            "title": "Description",
            "type": "string"
          },
          "evaluationParams": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Evaluation parameters for index calculation (from MongoDB). These map 1:1 to the engine's index configuration and control which calculation methodology is used.",
            "example": {
              "indexType": "token-demand-v2",
              "rebalancingParams": {
                "max_weight_per_model": 0.15,
                "min_days": 10,
                "minimum_tokens": 100000000,
                "top_models_count": 10,
                "total_days_considered": 14,
                "weight_metric": "revenue"
              },
              "tickerParams": {
                "exclude_weekends": false
              }
            },
            "title": "Evaluationparams"
          },
          "featured": {
            "default": false,
            "description": "Whether this index is featured/curated (e.g. for homepage carousel)",
            "example": true,
            "title": "Featured",
            "type": "boolean"
          },
          "featuredArticles": {
            "description": "List of featured articles about this index (from MongoDB)",
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "title": "Featuredarticles",
            "type": "array"
          },
          "group": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IndexGroup"
              },
              {
                "type": "null"
              }
            ],
            "description": "Index group/category information (from MongoDB)"
          },
          "id": {
            "description": "Unique identifier for the index",
            "example": "china-model-performance",
            "title": "Id",
            "type": "string"
          },
          "methodologyPdfUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL to downloadable methodology PDF (from MongoDB)",
            "title": "Methodologypdfurl"
          },
          "name": {
            "description": "Display name of the index",
            "example": "China TDI",
            "title": "Name",
            "type": "string"
          },
          "rebalancingPeriod": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Rebalancing period: 'first_calendar_day' or 'first_business_day' (from MongoDB)",
            "example": "first_calendar_day",
            "title": "Rebalancingperiod"
          },
          "relatedTickers": {
            "description": "Array of related ticker symbols (from MongoDB)",
            "items": {
              "type": "string"
            },
            "title": "Relatedtickers",
            "type": "array"
          },
          "startDate": {
            "description": "ISO date string for index start date (from MongoDB)",
            "example": "2023-01-15",
            "title": "Startdate",
            "type": "string"
          },
          "symbol": {
            "description": "Ticker symbol for the index",
            "example": "CNTDI",
            "title": "Symbol",
            "type": "string"
          },
          "timestamp": {
            "description": "ISO timestamp of when this data was generated",
            "example": "2024-01-15T12:00:00",
            "title": "Timestamp",
            "type": "string"
          },
          "value": {
            "description": "Current index value (calculated from latest ticker data)",
            "example": 2847.32,
            "title": "Value",
            "type": "number"
          },
          "version": {
            "default": 1,
            "description": "Methodology / ticker series version for this index (MongoDB). ClickHouse reads for this symbol use the highest version per timestamp when multiple exist.",
            "example": 1,
            "title": "Version",
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "symbol",
          "value",
          "currency",
          "change",
          "changeAbsolute",
          "changeDay",
          "changeWeek",
          "changeMonth",
          "change3Month",
          "timestamp",
          "description",
          "startDate"
        ],
        "title": "MarketIndex",
        "type": "object"
      },
      "ModelDailyRevenuePoint": {
        "properties": {
          "model_id": {
            "description": "Model identifier (model_slug when available)",
            "title": "Model Id",
            "type": "string"
          },
          "model_name": {
            "description": "Model display name",
            "title": "Model Name",
            "type": "string"
          },
          "revenue_usd": {
            "description": "Revenue for this model on this day (USD)",
            "title": "Revenue Usd",
            "type": "number"
          },
          "token_count": {
            "description": "Tokens for this model on this day",
            "title": "Token Count",
            "type": "integer"
          }
        },
        "required": [
          "model_id",
          "model_name",
          "revenue_usd",
          "token_count"
        ],
        "title": "ModelDailyRevenuePoint",
        "type": "object"
      },
      "ModelFamilyOverview": {
        "properties": {
          "description": {
            "title": "Description",
            "type": "string"
          },
          "family_id": {
            "title": "Family Id",
            "type": "string"
          },
          "family_name": {
            "title": "Family Name",
            "type": "string"
          }
        },
        "required": [
          "family_id",
          "family_name",
          "description"
        ],
        "title": "ModelFamilyOverview",
        "type": "object"
      },
      "ModelFamilyRankingResponse": {
        "properties": {
          "metric": {
            "enum": [
              "revenue",
              "tokens"
            ],
            "title": "Metric",
            "type": "string"
          },
          "rows": {
            "items": {
              "$ref": "#/components/schemas/ModelFamilyRankingRow"
            },
            "title": "Rows",
            "type": "array"
          }
        },
        "required": [
          "metric"
        ],
        "title": "ModelFamilyRankingResponse",
        "type": "object"
      },
      "ModelFamilyRankingRow": {
        "properties": {
          "family_id": {
            "title": "Family Id",
            "type": "string"
          },
          "family_name": {
            "title": "Family Name",
            "type": "string"
          },
          "rank": {
            "title": "Rank",
            "type": "integer"
          },
          "revenue_usd": {
            "title": "Revenue Usd",
            "type": "number"
          },
          "token_count": {
            "title": "Token Count",
            "type": "integer"
          }
        },
        "required": [
          "family_id",
          "family_name",
          "revenue_usd",
          "token_count",
          "rank"
        ],
        "title": "ModelFamilyRankingRow",
        "type": "object"
      },
      "ModelFamilyRevenuePoint": {
        "properties": {
          "family_id": {
            "description": "Model family identifier (provider)",
            "title": "Family Id",
            "type": "string"
          },
          "family_name": {
            "description": "Display name for model family (provider)",
            "title": "Family Name",
            "type": "string"
          },
          "revenue_usd": {
            "description": "Revenue (USD) for this day",
            "title": "Revenue Usd",
            "type": "number"
          }
        },
        "required": [
          "family_id",
          "family_name",
          "revenue_usd"
        ],
        "title": "ModelFamilyRevenuePoint",
        "type": "object"
      },
      "ModelFamilySummaryResponse": {
        "properties": {
          "family_id": {
            "title": "Family Id",
            "type": "string"
          },
          "family_name": {
            "title": "Family Name",
            "type": "string"
          },
          "from_date": {
            "title": "From Date",
            "type": "string"
          },
          "gross_profit_usd_7d": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Gross profit in last 7 days (USD). TBA until cost data is available.",
            "title": "Gross Profit Usd 7D"
          },
          "gross_profit_usd_period": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Gross profit in requested period (USD). TBA until cost data is available.",
            "title": "Gross Profit Usd Period"
          },
          "models_supported_7d": {
            "description": "Distinct models with usage in last 7 days",
            "title": "Models Supported 7D",
            "type": "integer"
          },
[...]
